<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - WMS</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
   
        .margin {
            margin-top: -50px;
        }

        .margin-body {
            margin-top: -20px;
        }

     
    </style>
</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top margin">

    
        <button class="btn btn-link btn-lg text-white order-1 order-sm-0" href="#">
            Warehouse Management System
        </button>
        <!-- Navbar Search -->

        <div class="col-md-offset-7 font-cs">
            @Html.Partial("_LoginPartial")
        </div>


    </nav>
    <div class="container body-content margin-body">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
